body, html {
    font-family: 'PT Sans', sans-serif;
    /* font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; */
    background: #ebebeb;
}
.verb-pl-name {
    font-size: 30px;
}
.verb-pl-name::first-letter {
    text-transform: capitalize;
}
.correct-answers {
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	background: #70a7ce;
	display: inline-block;
	padding: 5px 20px;
}
.field-info {
    margin-top: 30px;
}
.correct-answers-top {
    display: none;
}
#settings:hover {
    color: #6abfa7;
    cursor: pointer;
}
.modal-dark-bg {
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 100;
}
.my-modal-content {
    width: 700px;
    background: #fff;
    padding: 30px;
    margin: 0 auto;
    z-index: 101;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: .3rem;
    top: 50px;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15);
}
.my-modal-main-content {
	width: 500px;
	background: #fff;
	padding: 30px;
	margin: 0 auto;
	z-index: 101;
	position: absolute;
	left: 0;
	right: 0;
	border-radius: .3rem;
	top: 150px;
	-webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #70ceb3;
    background-color: #70ceb3;
}
.max-100 {
    max-width: 100px;
}
.already-known {
    background:#fbfafa;
    padding: 30px;
    border: 1px solid#ebebeb;
    border-radius: 4px;
}
.big-number {
    font-size: 40px;
}
.full-verbs-list-select {
    height:250px;
    overflow-y: scroll;
}
.pick-any-verb-error {
    background:#f04848;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    color:#fff;
}
.my-modal-title {
    font-weight: bold;
}
.my-label-in-form {
    font-size: 13px;
    background:#fff;
    padding: 0 10px;
    line-height: 13px;
    top: 10px;
    position: relative;
    left: 8px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade2-enter-active {
    animation-name: example;
    animation-duration: 0.3s;
}
.fade2-leave-active {
    transition: opacity .2s, top .2s;
    top: 30px;
}
.fade2-enter, .fade2-leave-to {
    opacity: 0;
}

.fade3-enter-active {
	animation-name: example2;
	animation-duration: 0.3s;
}
.fade3-leave-active {
	transition: opacity .2s, top .2s;
	top: 0px;
}
.fade3-enter, .fade3-leave-to {
	opacity: 0;
}

@keyframes example {
    0%   {top: 30px;}
    100% {top: 50px;}
  }

@keyframes example2 {
	0%   {top: 30px;}
	100% {top: 150px;}
}

@media only screen and (max-width: 767px) {
    .mt-50 {
        margin-top: 10px!important;
    }
    .correct-answers-top {
        display: block;
        margin-top: 9px;
        margin-right: 4px;
    }
    .correct-answers {
        font-size: 15px;
    }
    .small-right {
        float: right;
        margin-left: 3px;
    }
}

/*Buttons*/
.verb-btn {
	padding: 7px 30px;
	text-align: center;
	border: none;
	font-size: 15px;
}
.verb-btn-info {
	background: #70ceb3;
	color: #fff;
}
.verb-btn-info:hover {
	background: #6abfa7;
}
.verb-btn-success {
	background: #ce7093;
	color: #fff;
}
.verb-btn-success:hover {
	background: #b56281;
}
.verb-btn-default {
	background: #797979;
	color: #fff;
}
.verb-btn-default:hover {
	background: #5e5e5e;
}


/* Home */
.home-container {
	border-radius: 5px;
	background: #fff;
	padding: 60px 70px 70px;
	-webkit-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
	position: relative;
}
.home-home-menu {
	background: #fff;
	padding: 12px 0px;
	width: 100px;
	display: block;
	text-align: center;
	color: #666;
	position: absolute;
	top: -44px;
	right: 0;
	cursor: pointer;
	border-top-right-radius: 5px;
	font-weight: bold;
}
.home-home-menu:hover {
	font-weight: bold;
	color: #9e9e9e;
}
.home-verbs-options-menu {
	background: #70ceb3;
	padding: 8px 0px 7px;
	display: block;
	width: 130px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -39px;
	right: 100px;
	cursor: pointer;
}
.home-verbs-options-menu:hover {
	background: #6abfa7;
}
.home-words-options-menu {
	background: #70ceb3;
	padding: 8px 0px 7px;
	display: block;
	width: 150px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -39px;
	right: 231px;
	cursor: pointer;
}
.home-words-options-menu:hover {
	background: #6abfa7;
}
.home-groups-options-menu {
	background: #70ceb3;
	padding: 8px 0px 7px;
	display: block;
	width: 150px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -39px;
	right: 382px;
	cursor: pointer;
}
.home-groups-options-menu:hover {
	background: #6abfa7;
}
.learn-icon {
	font-size: 11px;
	margin-top: 0px;
	margin-left: 36px;
}
.learch-button {
	border: 1px solid #ebebeb;
	padding: 10px 30px;
	border-radius: 20px;
	width: 250px;
	background: #ffffff;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 0px;
	/*right: 63px;*/
	bottom: -20px;
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.07);
}
.uk-active {
	display: block !important;
	margin-top: 10px;
}
.uk-active2 {
	bottom: -54px !important;
}
.context {
	margin-left: 5px;
	font-size: 13px;
	min-height: 20px;
}


/* Verbs */
.add-menu {
	background: #fff;
	padding: 12px 0px;
	display: block;
	width: 100px;
	text-align: center;
	color: #666;
	position: absolute;
	top: -44px;
	right: 0;
	border-top-right-radius: 5px;
}
.add-verb-menu {
	background: #70ceb3;
	padding: 8px 0px 7px;
	display: block;
	width: 170px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -39px;
	right: 100px;
	cursor: pointer;
}
.add-verb-menu:hover {
	background: #6abfa7;
}
.edit-verb-menu {
	background: #f57a7a;
	padding: 8px 0px 7px;
	display: block;
	width: 170px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -39px;
	right: 100px;
	cursor: pointer;
}
.edit-verb-menu:hover {
	background: #e67373;
}

.add-menu a:hover {
	text-decoration: none;
	font-weight: bold;
}
.add-new-verb {
	max-width: 550px;
	border-radius: 5px;
	background: #fff;
	padding: 60px 70px 70px;
	-webkit-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
	position: relative;
}
.verbs-list-edit {
	color: #c1c1c1;
}
.verbs-list-delete {
	color: #f57a7a;
	margin-left: 7px;
	font-size: 18px;
}
.verbs-list-edit:hover {
	color: #9e9a9a;
	cursor: pointer;
}
.verbs-list-delete:hover {
	color: #f94747;
	cursor: pointer;
}
.zi-100 {
	z-index: 100;
}
.ml--40 {
	margin-left: -40px;
}

/* groups */
.group {
	border: 1px solid #dbdbdb;
	padding: 20px;
	border-radius: 5px;
	background: #f7f7f7;
	margin-bottom: 10px;
}
.group-name {
	float: left;
}
.group-options {
	float: right;
}
